name: Terraform Destroy

on:
  workflow_dispatch:

jobs:
  terraform-destroy:
    name: 'Terraform Destroy'
    environment: PROD
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_TERRAFORM_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_TERRAFORM_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Terraform Init
      run: terraform init
      working-directory: ./terraform

    - name: Terraform Destroy
      run: |
        terraform destroy -auto-approve \
          -var="aws_access_key_dynamo_user=${{ secrets.TF_VAR_AWS_ACCESS_KEY_DYNAMO_USER }}" \
          -var="aws_secret_access_key_dynamo_user=${{ secrets.TF_VAR_AWS_SECRET_ACCESS_KEY_DYNAMO_USER }}" \
          -var="jwt_secret=${{ secrets.TF_VAR_JWT_SECRET }}" \
          -var="account_id=${{ secrets.TF_VAR_ACCOUNT_ID }}" \
          -var="aws_region=${{ secrets.TF_VAR_AWS_REGION }}"
      working-directory: ./terraform